.h1-title
{
	font-family: source-sans-pro-n7, sans-serif;
}

.h2-sub-title
{
	font-family: open-sans-n7, sans-serif;
}

.Teaser
{
	font-family: open-sans-n6, sans-serif;
}

.Text,.submit
{
	font-family: open-sans-n4, sans-serif;
}

#u6671-4
{
	font-family: open-sans-n6, sans-serif;
}

#u6379-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3742-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

