.h1-title
{
	font-family: source-sans-pro-n7, sans-serif;
}

.h2-sub-title
{
	font-family: open-sans-n7, sans-serif;
}

.Teaser
{
	font-family: open-sans-n6, sans-serif;
}

.Text,.submit
{
	font-family: open-sans-n4, sans-serif;
}

#u6671-4
{
	font-family: open-sans-n6, sans-serif;
}

#u6379-4
{
	font-family: open-sans-n6, sans-serif;
}

#u3742-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u669-4
{
	font-family: open-sans-n4, sans-serif;
}

#u671-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu664.frm-sub-st #u674-4 p,#widgetu664.frm-subm-err-st #u680-4 p,#widgetu664.frm-subm-ok-st #u675-4 p,#u679-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu666_input,#widgetu666_prompt,#widgetu670_input,#widgetu670_prompt,#widgetu676_input,#widgetu676_prompt
{
	font-family: open-sans, sans-serif;
}

