.version.index /* version checker */
{
	color: #00000B;
	background-color: #BFBD67;
}

.html
{
	background: #FFFFFF url("../images/background.jpg") repeat center center scroll;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


#page
{
	z-index: 1;
	width: 960px;
	min-height: 2850.5500000000043px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#slideshowu3685
{
	z-index: 4;
	width: 0.01px;
	height: 671px;
	left: -100px;
	position: relative;
}

#u3692
{
	position: absolute;
	width: 1160px;
	height: 671px;
	background-color: transparent;
}

#u3692popup
{
	z-index: 5;
}

#u3693
{
	z-index: 6;
	width: 1160px;
	height: 671px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3741
{
	z-index: 143;
	height: 80px;
	top: 0px;
}

#u3741-bw
{
	z-index: 143;
}

#u3778
{
	z-index: 148;
	width: 188px;
	top: 25px;
	left: 120px;
}

#menuu6339
{
	z-index: 150;
	width: 235px;
	top: 28px;
	right: 120px;
}

#u6667
{
	width: 116px;
	min-height: 34px;
	margin-right: -10000px;
}

#u6668
{
	width: 116px;
	padding-bottom: 15px;
}

#u6671-4
{
	width: 116px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u6668:hover #u6671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u6375
{
	width: 117px;
	min-height: 34px;
	margin-right: -10000px;
	left: 118px;
}

#u6376
{
	width: 117px;
	padding-bottom: 15px;
}

#u6668.MuseMenuActive,#u6376.MuseMenuActive
{
	margin: 0px;
}

#u6379-4
{
	width: 117px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u6668.MuseMenuActive #u6671-4,#u6376:hover #u6379-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u6376.MuseMenuActive #u6379-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u1039-3
{
	z-index: 8;
	width: 5px;
	background-color: transparent;
	left: -529px;
	top: -460px;
	margin-bottom: -17px;
	position: relative;
}

#pu4388
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u4388
{
	z-index: 78;
	height: 310px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
}

#u4388-bw
{
	z-index: 78;
	height: 310px;
}

#pamphletu4389
{
	z-index: 79;
	width: 0.01px;
	height: 242px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 120px;
}

#u4390
{
	z-index: 80;
	width: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 434px;
}

#u4393
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #A3D4E9;
	background-color: #A3D4E9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#u4393:hover
{
	border-color: #2686B2;
	background-color: #2686B2;
	margin: 0px;
}

#u4391
{
	position: absolute;
	width: 10px;
	height: 10px;
	left: 21px;
}

#u4393.PamphletThumbSelected,#u4391:hover
{
	border-color: #A3D4E9;
	background-color: #2686B2;
	margin: 0px;
}

#u4391.PamphletThumbSelected
{
	border-color: #A3D4E9;
	background-color: #2686B2;
	margin: 0px;
}

.trigger-rollover
{
	border-style: none;
	border-color: transparent;
	background-color: #A3D4E9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#u4392
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: #A3D4E9;
	background-color: #A3D4E9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	left: 41px;
}

#u4392:hover
{
	background-color: #2686B2;
	margin: 0px;
}

#u4392.PamphletThumbSelected
{
	background-color: #2686B2;
	margin: 0px;
}

#u4396
{
	position: absolute;
	width: 941px;
	background-color: transparent;
}

#u4396popup
{
	z-index: 84;
}

#u4401
{
	z-index: 85;
	width: 941px;
	height: 206px;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4402-4
{
	z-index: 86;
	width: 920px;
	min-height: 129px;
	background-color: transparent;
	line-height: 42px;
	letter-spacing: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
}

#u4397
{
	z-index: 90;
	width: 941px;
	height: 206px;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4398-6
{
	z-index: 91;
	width: 919px;
	min-height: 64px;
	background-color: transparent;
	line-height: 42px;
	letter-spacing: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 1px;
}

#u4399
{
	z-index: 97;
	width: 941px;
	height: 206px;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4400-8
{
	z-index: 98;
	width: 920px;
	min-height: 113px;
	background-color: transparent;
	line-height: 42px;
	letter-spacing: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 1px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu6711
{
	width: 0.01px;
	margin-left: -100px;
}

#u6711
{
	z-index: 2;
	height: 917px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u6711-bw
{
	z-index: 2;
	height: 917px;
}

#u2423-17
{
	z-index: 11;
	width: 447px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 121px;
}

#u2424-16
{
	z-index: 28;
	width: 450px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 590px;
}

#u2424-6
{
	text-align: center;
	line-height: 36px;
	padding-bottom: 8px;
}

#u2424-4
{
	letter-spacing: 1px;
}

#u2425-13
{
	z-index: 44;
	width: 447px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 624px;
	left: 121px;
}

#u2426-17
{
	z-index: 57;
	width: 450px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 624px;
	left: 590px;
}

#u2423-7,#u2425-7,#u2426-7
{
	text-align: center;
	line-height: 36px;
	letter-spacing: 1px;
	padding-bottom: 8px;
}

#u2423-9,#u2423-11,#u2423-13,#u2423-15,#u2424-8,#u2424-10,#u2424-12,#u2424-14,#u2425-9,#u2425-11,#u2426-9,#u2426-11,#u2426-13,#u2426-15
{
	text-align: center;
	line-height: 27px;
	padding-bottom: 5px;
	color: #5E5E5E;
}

#u6523
{
	z-index: 106;
	width: 100px;
	min-height: 104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 503px;
	left: 765px;
}

#u6526
{
	z-index: 107;
	width: 100px;
	min-height: 104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 294px;
}

#u6529
{
	z-index: 108;
	width: 100px;
	min-height: 104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 765px;
}

#u6520
{
	z-index: 109;
	width: 100px;
	min-height: 104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 503px;
	left: 294px;
}

#u3489-4
{
	z-index: 74;
	width: 960px;
	background-color: transparent;
	line-height: 42px;
	letter-spacing: 2px;
	color: #000000;
	font-style: normal;
	margin-top: 96px;
	position: relative;
}

#pu6743
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 95px;
}

#u6743
{
	z-index: 3;
	height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u6743-bw
{
	z-index: 3;
	height: 554px;
}

#u6723-4
{
	z-index: 110;
	width: 77px;
	min-height: 22px;
	background-color: transparent;
	font-size: 12px;
	color: #5E5E5E;
	line-height: 16px;
	letter-spacing: 0px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 372px;
	left: 155px;
}

#u6724
{
	z-index: 114;
	width: 75px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 394px;
	left: 152px;
}

#u6729
{
	z-index: 116;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 121px;
}

#u6744
{
	z-index: 118;
	width: 422px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 376px;
}

#u6737-4
{
	z-index: 132;
	width: 130px;
	min-height: 22px;
	background-color: transparent;
	color: #5E5E5E;
	position: relative;
}

#u6738
{
	z-index: 136;
	width: 402px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #E7E7E7;
	margin-top: 18px;
	position: relative;
}

#u6739-4
{
	z-index: 138;
	width: 394px;
	min-height: 152px;
	background-color: transparent;
	color: #5E5E5E;
	font-style: italic;
	margin-top: 24px;
	position: relative;
}

#u6742
{
	z-index: 137;
	width: 402px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #E7E7E7;
	margin-top: 8px;
	position: relative;
}

#u6722-13
{
	z-index: 119;
	width: 421px;
	min-height: 106px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
}

#u6722-2
{
	color: #5E5E5E;
	font-weight: 700;
}

#u6722-8
{
	padding-bottom: 8px;
}

#u6722-5
{
	color: #5E5E5E;
}

#u6722-11
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6722-9
{
	font-size: 15px;
	text-decoration: underline;
	line-height: 20px;
}

#u3740
{
	z-index: 142;
	padding-bottom: 42px;
}

#u3740_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u3742-4
{
	z-index: 144;
	width: 684px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 238px;
}

#u3740-bw
{
	z-index: 142;
	height: 58px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

