#u3741
{
	border-style: solid;
	border-color: #E7E7E7;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: fixed;
	border-width: 0px 0px 1px;
}

.js #u3741.ose_pre_init
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#u3778
{
	background-color: transparent;
	position: fixed;
}

#menuu6339
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u6667,#u6668
{
	background-color: transparent;
	position: relative;
}

#u6671-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	color: #000000;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u6668:hover #u6671-4 p
{
	color: #00D6E3;
	visibility: inherit;
}

#u6375,#u6376
{
	background-color: transparent;
	position: relative;
}

#u6379-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	color: #000000;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u6668.MuseMenuActive #u6671-4 p,#u6376:hover #u6379-4 p
{
	color: #00D6E3;
	visibility: inherit;
}

#u6376.MuseMenuActive #u6379-4 p
{
	color: #00D6E3;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u3740
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u3740_align_to_page
{
	position: relative;
}

#u3742-4
{
	background-color: transparent;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 13px;
	letter-spacing: 1px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

